.search-container {
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
    padding: 5px;
    max-width: 250px;
  }
  
  .search-container input[type="text"] {
    width: 82%;
    padding: 5px;
    border: none;
    background: transparent;
    color: black;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    color: black;
    pointer-events: none;
  }
  